<mj-section 
  padding="{{spacing-medium}}" 
  background-color="{{color-white}}" 
>
  <mj-column>
    <mj-text mj-class="footer-text">
      © 2022 N-brand. All rights reserved.
    </mj-text>

    <mj-spacer height="{{spacing-x-small}}" />

    <mj-text mj-class="footer-text">
      If you don't want to receive emails like this anymore, please
      <a 
        href="https://prematch.vn.ua/" 
        target="_blank" 
        rel="noopener" 
        style="text-decoration:none;text-decoration:underline;font-weight:bold;color:#72787E;"
      >
        Unsubscribe
      </a>
    </mj-text>
  </mj-column>
</mj-section>