<mj-section 
  padding="{{spacing-medium}}" 
  background-color="{{color-white}}" 
>
  <mj-column>
    <mj-text mj-class="footer-text">
      © Prematch, 2025. Усі права захищено.
    </mj-text>

    <mj-spacer height="{{spacing-x-small}}" />

    {{#if (default showUnsubscribe true)}}
      <mj-text mj-class="footer-text">
        If you don't want to receive emails like this anymore, please
        <a 
          href="https://prematch.vn.ua/" 
          target="_blank" 
          rel="noopener" 
          style="text-decoration:none;text-decoration:underline;font-weight:bold;color:#72787E;"
        >
          Unsubscribe
        </a>
      </mj-text>
    {{/if}}
  </mj-column>
</mj-section>